{% extends 'main/base/index.html' %}

{% block title %}Добавить этап для конкурса: {{ contest.title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Добавить этап для конкурса: {{ contest.title }}</h1>

    
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Сохранить этап</button>
        </form>
   

    <div class="mt-3">
        <a href="{% url 'contest_detail' contest.id %}" class="btn btn-secondary">Назад к конкурсу</a>
    </div>
</div>
{% endblock %}