{% extends 'main/base/index.html' %}

{% block title %}Создать конкурс{% endblock %}

{% block content %}
<h2>Создать конкурс</h2>
<form method="post" class="form">
    {% csrf_token %}
    <div class="form-group">
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>
    <div class="form-group">
        {{ form.start_date.label_tag }}
        {{ form.start_date }}
    </div>
    <div class="form-group">
        {{ form.end_date.label_tag }}
        {{ form.end_date }}
    </div>
    <div class="form-group">
        {{ form.description.label_tag }}
        {{ form.description }}
    </div>
    <div class="form-group">
        {{ form.moderators.label_tag }}
        {{ form.moderators }}
    </div>
    <button type="submit" class="btn btn-primary">Создать конкурс</button>
</form>
{% endblock %}